@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    
    background-color:  black;
    
    padding: 0.8rem 0.3rem 0.8rem 0 ;
    position: fixed;
    top: 0;
    color: white;

    align-items: center;
    width: 100vw;
    

    
}

.navbar-toggle {
    color: WHITE;
}



.navbar-toggle {
    display: none;
  }
  
@media (max-width: 600px) {
    nav ul {
      flex-wrap: wrap;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-links {
      display: none;
      width: 100%;
      text-align: center;
    }
    .active {
      display: block;
    }
  }
  

footer{
    background-color:  black;
    
    padding: .8rem;
    

    align-items: center;
    width: 100%
    
}

body{
    background-image: url(food.webp) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#home{
/*     
    background-image: url(food.webp); */
   
    
    
    height:100% ;
font-size: 1.2em;
    width: 100vw;
    font-family: 'Dancing Script', cursive;
    
    padding: 1.3em;
    padding-top: 9.5em;
    
    flex-wrap: wrap;
    
       
    
}
section h1{
    text-shadow: 2px 2px 1px rgb(140, 141, 125);
    padding-bottom: 1rem;
    font-style: italic;
}

.nav-logo, .copyright{

    flex-grow: 1;
}
.copyright{
    text-align: end;
}


.nav-logo a{
font-size: 1.6rem;
font-style: italic;
font-family: 'Dancing Script', cursive;
color: white;
font-weight: bold;
padding: 1em 0;



}

nav ul, .footer ul{
    display: flex;
    list-style: none;
    padding: 0 1em 0 0.5em;
    margin: 0 1.2em;
    

    
}
.footer ul{
    flex-wrap: wrap;
}

nav ul li, footer ul li{
    padding: 0.8rem;
    height: fit-content;
    width: fit-content;
    
}


.foodicon{
    height: 40%;
    
}
   

nav ul li a, footer ul li a, .copyright{
    text-decoration: none;
    color: rgb(236, 230, 230)  ;
    font-size: 1.3rem;
    padding: 1rem;
    height: fit-content;
    width: max-content;
    
    
}

nav ul li a:hover, footer ul li a:hover {
    color: blue;
    background-color: rgba(131, 120, 120 , 0.6);
}

.foodpicture{
    max-width: 500px;
    max-height: 400px;
    width: 100%;

    object-fit: cover;
}

.recepies{
/*    
   background-color: rgb(228, 215, 143); */
width: 95%;
    display: grid;
    gap:0.5rem;
    margin: 20px auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    

    
}
main section h3{
   
    
    color: #fff;
    background-color: #000;
    padding-bottom: 1.5rem;
    padding-top: 2.8rem;
    object-fit: cover;
    height: 6%;
    width: 100%;

    text-align: center;
    
}

.content{
    
    max-width: 450px;
    width: 100%;
    /* padding: 0 1.3rem; */
    margin: 1.3rem auto;
    font-size: 1.2rem;
    border: 0.8rem solid lightcyan;
    border-radius: 15px;
 box-shadow: 20px 20px 20px 20px #000  ;
 background-color: bisque;

}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

}

.heading2{
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000;
    padding-bottom: 1.5rem;
    padding-top: 2.8rem;
    margin-top: 6rem;

    text-align: center;
}
.form{
    width: 95%;
    padding: 1.3rem;
    margin: 1.3rem;
    font-size: 1.2rem;
    border: 0.8rem solid lightcyan;
    border-radius: 15px;
 box-shadow: 20px 20px 20px 20px #000  ;
 background-color: bisque;
 
 max-width: 900px;
 margin-bottom: 3rem;

}
.formItem{
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 1px grey;
    padding: 1rem;
    
    
}
input[type=text], input[type=email], input[type=tel], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  input[type=submit] {
    width: 100%;
    font-size: 1.3rem;
    background-color: #000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    color: blue;
    background-color: rgba(131, 120, 120 , 0.6);;
  }
